
.panel-title{
  font-size: 200%;
  font-weight:bold;
  float:right;
}

.container-main header{
  size: 40px;
  height: auto;
}

h1 {
  font-weight: bold;
  font-style: oblique;
  text-align: center;
  color: #caca;
  font-size: 30px;
}
.main-img{
  width: 50%;
  height: 50%;
}
.main-test{
  font-style: italic;
  font-weight: bold;
}
.main-color{
  background: #82b6ed;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 10px;
  margin-left: 50px;
}
.important{
  font-weight: bold;
  padding-right;
  border-radius:
}
.not-important{
  font-weight: normal;
  border: 2px solid;
}
